<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_entry"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t('blog_entries') %></h1>


<% unless @blog_entries.blank? %>
  <table class="entry-list index">
    <thead>
      <tr>
        <th class="date"><%= t('published_at') %></th>
        <th class="title"><%= t('title') %></th>
        <th class=""><%= t('path') %></th>
        <th class=""><%= t('visible') %></th>
        <th></th> 
      </tr>
    <thead>

    <tbody>
      <% @blog_entries.each do |blog_entry| %>
        <tr id="<%= dom_id blog_entry %>">
          <td><%= l( blog_entry.published_at, :format => :blog_date) if blog_entry.published_at %></td>
          <td><%= blog_entry.title %></td>
          <td><%= link_to blog_entry_permalink(blog_entry), blog_entry_permalink(blog_entry) %></td>
          <td><%= blog_entry.visible? ? icon('tick') : icon('cross') %></td>
          <td class="actions">
            <%= link_to_edit blog_entry %>
            &nbsp;
            <%= link_to_delete blog_entry, :title => t('are_you_sure_blog_entry') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @blog_entries %>
<% else %>
  <p><%= t('no_blog_entries') %></p>
<% end %>

