<h2><%= link_to e.title, blog_entry_permalink(e) %></h2>

<div class="blog_entry_details">
  <span class="blog_entry_date"><%= l(e.published_at, :format => :blog_date) %></span>
  <% unless e.author.blank? %>
    <%= Spree.t(:by) %> <%= link_to e.author.nickname, blog_author_path(:author => e.author.nickname), class: "blog_entry_author" %>
  <% end %>
</div>

<div class="blog_entry_summary">
  <%== e.entry_summary %>
  <span class="blog_read_more"><%= link_to Spree.t(:blog_read_more), blog_entry_permalink(e) %></span>
</div>

<% unless e.tag_list.empty? %>
  <%= render :partial => 'spree/blog_entries/tag_list', :locals => {:e => e}  %>
<% end %>
